<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Jika request bukan file atau folder
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Arahkan semua ke router.php
    RewriteRule ^(.*)$ router.php [QSA,L]
</IfModule>
